<!DOCTYPE html>
<html>
    <head>
        <title>
            Kaniflix India - Watch TV Shows Online
        </title>
        <link rel="stylesheet" type="text/css" href="/css/kani.css">
    </head>
    <body>
        <audio hidden autoplay>
            <source src="Kaniflix.mp3" type="audio/mp3">
        </audio>
        <div class="logo">
            <div class="kaniflix">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h3>Kaniflix</h3>
        </div>
        <script>
            setTimeout(function(){
                window.location.href="/";
            }, 3500)
        </script>
    </body>
</html>